#theader {
  font-size: 1.25rem;
  text-align: center;
}
.nav-link{
  text-align: center;
  color: white;
  font-weight:bold;
}
.table{
  width: 80%;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  margin-top: 4%;
}

.p-2{
  margin-right: 10%;
}

