<html>
<nav class="navbar navbar-expand-lg" style="background-color: #626567">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logox2reno.png" alt="Bootstrap" width="200" height="120">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="comprobantes-aceptados" >Comprobantes Aprobados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="comprobante">Comprobantes Pendientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="inscripciones-aceptadas">Estudiantes Aprobados </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="Registro">Estudiantes Pendientes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped"  >
      <thead class="table align-middle" style="background-color: #626567; color: white;">
        <th scope="col" class="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cédula</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo de Curso</th>
        <th scope="col">Cursos</th>
        <th scope="col">Acciones</th>
      </thead>
      <tbody class="">
        <ng-container *ngFor="let row of datos let i = index">
          <tr class="align-middle">
            <td scope="row" style="font-weight: bold">
              {{ i + 1 }}
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.nombre_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.cedula_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.correo_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.telefono_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.tipo_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.curso_estudiante }}
              </div>
            </td>
            <td>
              <div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  style="width: 150px"
                  (click)="enviar(row._id, 'APROBADO')"
                >
                  Aceptar
                </button>
                <button
                  type="button"
                  class="btn btn-danger m-2"
                  style="width: 150px"
                  (click)="enviar(row._id, 'RECHAZADO')"
                >
                  Rechazar
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div> <br><br>
  <button
      type="button"
      class="btn "
      style="width: 150px ; background-color: #626567; color:white" 
      (click)="navegar()"> Siguiente</button>
  <div class="d-flex flex-row-reverse">
    <div class="p-2">Mostrando {{ datos.length }} registros</div>
  </div>
</div>

</html>