<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<router-outlet></router-outlet>

<div style="background-color: #F2F3F4" class="footer">
    <footer class="main-footer">
        <div class="container">
          <div class="column column--50-25">
            <h2 class="footer__title"> ORION COMPANY 🪪🚗</h2>
            <p class="footer__txt">
                ORION COMPANY es una empresa que promueve la facilidad
                para realizar trámites de adquisición, renovación y recuperación de puntos
                de licencias de conducir.
                Te ofrecemos atención personalizada y rápida, con la   
                mejor calidad de servicio.
            </p>
          </div>
          <div class="column column--50-25">
            <h2 class="footer__title">Connect</h2>
            <div class="footer__socials">
              <div class="social-icon">
                <i class="fab fa-facebook-f"></i>
                <a class="social__link" href="">Like us on Facebook</a>
              </div>
              <div class="social-icon">
                <i class="fab fa-twitter"></i>
                <a class="social__link" href="">Like us on Twiter</a>
              </div>
              <div class="social-icon">
                <i class="fab fa-pinterest"></i>
                <a class="social__link" href="">Follow us on Instagram</a>
              </div>
            </div>
          </div>
          <div class="column column--50-25">
            <h2 class="footer__title">Contact</h2>
            <div class="contact-icon">
              <i class="fas fa-map-marker-alt"></i>
              <p class="contact__txt">ORION COMPANY</p>
            </div>
            <div class="contact-icon">
              <i class="fas fa-phone-alt"></i>
              <p class="contact__txt">0992113464</p>
            </div>
            <div class="contact-icon">
              <i class="fas fa-envelope"></i>
              <p class="contact__txt">orioncompany@gmail.com</p>
            </div>
            <div class="contact-icon">
              <i class="fas fa-envelope"></i>
            </div>
          </div>
        </div>
        <p class="copy">
          © 2022 ORION COMPANY | Design by
          <span class="color-span"> ORION COMPANY </span>
        </p>
      </footer>
  </div>
